<%- include('../partials/header') %>

<h2>Flight List</h2>
<table id="indexTable">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs %></td>
        <td><a href="/flights/<%= f._id %>">Details</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>